#name{
    color: blue;}

#description{
    color: white;

}

 div{
    background-color: darkgray;
    width: 50%;
    justify-content: center;
    place-content: center;
    text-align: center;
    border: 5px dotted blue;
    border-radius: 30px;
    margin: 20%;
    padding: 20%;

}
body{
    place-items: center;
}