body{
    background-color: rgba(0, 255, 0, 0.61);
}
h1{
    color: blue;
    display: flex;
    justify-content: center;
}
#parent{
    background-color: white;
    width: 50%;
    margin: auto;
    border: 5px blue solid;
    border-radius: 30px;
    padding: 20px;
    margin: auto;

}
#son{
    display: flex;
    align-items: center;
}
#parameter{
    width: 200%;
}

    